<!doctype html>
<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>İletişim Sayfası</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Tüm CSS dosyaları buraya dahil edilecek -->
    <!-- Bootstrap ana CSS dosyası -->
    <link rel="stylesheet" href="../../assets/public/css/bootstrap.min.css">
    <!-- Owl Carousel min CSS -->
    <link rel="stylesheet" href="../../assets/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/public/css/owl.theme.default.min.css">
    <!-- Bu core.css dosyası tüm eklenti CSS dosyalarını içerir -->
    <link rel="stylesheet" href="../../assets/public/css/core.css">
    <!-- Tema kısa kodlar/öğeler stili -->
    <link rel="stylesheet" href="../../assets/public/css/shortcode/shortcodes.css">
    <!-- Tema ana stili -->
    <link rel="stylesheet" href="../../assets/public/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../assets/public/css/responsive.css">
    <!-- Kullanıcı stili -->
    <link rel="stylesheet" href="../../assets/public/css/custom.css">

    <!-- Modernizr JS -->
    <script src="../../assets/public/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">Eski bir tarayıcı kullanıyorsunuz. Lütfen tarayıcınızı <a href="http://browsehappy.com/">güncelleyin</a> ve deneyiminizi iyileştirin.</p>
    <![endif]-->

    <!-- Ana gövde başlangıcı -->
    <div class="wrapper">
        <!-- Başlık stili başlangıcı -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Ana menü alanı başlangıcı -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                                <div class="logo">
                                    <a href="/login">
                                        <img src="https://eyupmodesa.com.tr/img/firmalar/b/h_1490271476_Mobilya-Tasarim-Evi.jpg" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a href="/dashboard">Anasayfa</a></li>
                                        <li><a href="/contact">İletişim</a></li>
                                    </ul>
                                </nav>

                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a href="/dashboard">Anasayfa</a></li>
                                            <li><a href="/contact">İletişim</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a href="#"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account dropdown">
                                        <a href="#" id="account-icon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-user icons"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="account-icon">
                                            <a class="dropdown-item" href="/siparisler">Siparişlerim</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/logout">Çıkış Yap</a>
                                            <a class="dropdown-item" href="/login">Giriş Yap</a>
                                        </div>
                                    </div>
                                    <div class="htc__shopping__cart">
                                        <a class="cart__menu" href="#"><i class="icon-handbag icons"></i></a>
                                        <a href="/cart"><span class="htc__qua" id="cartItemCount">0</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- Ana menü alanı sonu -->
        </header>

        <div class="body__overlay"></div>
        <!-- Başlangıç Ofset Wrapper -->
        <div class="offset__wrapper">
            <!-- Arama Pop-up Başlangıç -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Burada ara..." type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Arama Pop-up Sonu -->
        </div>
        <!-- Ofset Wrapper Sonu -->

        <!-- Başlangıç Bradcaump alanı -->
        
        <!-- Bradcaump alanı sonu -->

        <!-- Başlangıç İletişim Alanı -->
        <section class="htc__contact__area ptb--100 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                        <br> <br> <br>
                        <div class="map-contacts--2">
                            <!-- İstenen Google Maps konum iframe'i buraya eklenir -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12468.616799058493!2d35.170755159620676!3d38.62233354854149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152a54e944452167%3A0xe60a819f80249e6f!2s%C4%B0ncesu%2C%20Kayseri!5e0!3m2!1str!2str!4v1717153693657!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                        <h2 class="title__line--6">İLETİŞİM</h2>
                        <div class="address">
                            <div class="address__icon">
                                <i class="icon-location-pin icons"></i>
                            </div>
                            <div class="address__details">
                                <h2 class="ct__title">Adresimiz</h2>
                                <p>Kayseri İncesu </p>
                            </div>
                        </div>
                        <div class="address">
                            <div class="address__icon">
                                <i class="icon-envelope icons"></i>
                            </div>
                            <div class="address__details">
                                <h2 class="ct__title">Mail Adresimiz</h2>
                                <p>mobilya.com</p>
                            </div>
                        </div>
                        <div class="address">
                            <div class="address__icon">
                                <i class="icon-phone icons"></i>
                            </div>
                            <div class="address__details">
                                <h2 class="ct__title">Telefon Numaramız</h2>
                                <p>+90578945612</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- İletişim Alanı Sonu -->
    </div>
    <!-- Ana gövde sonu -->

    <!-- Tüm JS dosyaları buraya dahil edilecek -->
    <!-- jQuery en önce dahil edilmelidir -->
    <script src="../../assets/public/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="../../assets/public/js/bootstrap.min.js"></script>
    <script src="../../assets/public/js/owl.carousel.min.js"></script>
    <script src="../../assets/public/js/plugins.js"></script>
    <script src="../../assets/public/js/waypoints.min.js"></script>
    <script src="../../assets/public/js/main.js"></script>
</body>

</html>
